/vendor
/node_modules
.env
.env.backup
.env.production
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/*.key
/public/hot
/public/storage
/public/build
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
*.log